[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
uvicorn = "*"
flake8 = "*"

[packages]
src = {editable = true, path = "./src"}
fastapi = "*"
mangum = "*"
boto3 = "*"
aws-lambda-powertools = "*"

[requires]
python_version = "3.8"
